**/__pycache__/
**/.ipynb_checkpoints/
/.vscode
06 Dictionaries Tuples and Sets/Exercise - Compound Summaries/atom_counter.py
07 Reading From and Writing to Files/Writing Video Materials/Squares/numbers.dat
07 Reading From and Writing to Files/Summary/output.dat
07 Reading From and Writing to Files/Summary/output/greeting.dat
07 Reading From and Writing to Files/Exercise - Inputs and Outputs/compound_summaries.py
07 Reading From and Writing to Files/Exercise - Inputs and Outputs/atom_counter.py
07 Reading From and Writing to Files/Exercise - Inputs and Outputs/inputs_outputs.py
09 More Loops/Exercise - Checking Orders/compound_summaries.py
09 More Loops/Exercise - Checking Orders/inputs_outputs.py
09 More Loops/Exercise - Checking Orders/atom_counter.py
09 More Loops/Exercise - Checking Orders/elements.py
09 More Loops/Exercise - Checking Orders/sample_orders
