**/__pycache__/
**/.ipynb_checkpoints/
/.vscode
06 Dictionaries Tuples and Sets/Exercise - Compound Summaries/elements.py
06 Dictionaries Tuples and Sets/Exercise - Compound Summaries/atom_counter.py
07 Reading From and Writing to Files/Reading Video Materials/reader.py
